build*
!scripts/build_*.sh
!resources/game-data/Data/World4/build.r3d
!resources/game-data/Data/World4/Texture/build.dds
cmake-build-*
.DS_Store
bin
extern
.vs
*.vcxproj.*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
